<div>
  <table class="table table-striped">
    
      <tr>
        <th scope="col">ApprovalLetter_Id</th>
          <th scope="col">Customer_Id</th>
          <th scope="col">Product_Id</th>
          <th scope="col">Loan_Amount</th>
          <th scope="col">Rate_Of_Intrest</th>
            </tr>
   
    <tr>
      <td>{{a.approvalLetterId}}</td>
      <td>{{a.customerId}}</td>
      <td> {{a.productId}} </td>
      <td>{{a.loanAmount}}</td>
      <td>{{a.rateOfIntrest}}</td>
           
    </tr>
  
   </table>
  </div>












<!-- <h3>Approval letter login </h3>>
<div >
    <form [FormGroup]="loginForm" >
       <div>
        Approval Letter Id :<input type="text" formControlName='approvalLetterId' placeholder="Enter Approval Id" >
      </div>
     <button type="submit" (click)="onLogin()">Get Approval Letter</button>
    </form>
  </div> -->