 <div>  
   
  <div>
   <h3 style="color:darkred"> Loan Approval Letter From EasyEmi  </h3>
   <p style="color: darkmagenta;"><br>
   Dear Sir,<br>
   This letter is made in reference to your loan application details are shown in below table.Based on the information you provided in your loan application,
   we are pleased to inform you that the approval of your loan based on the given terms and conditions is done. <br>

   This offer is valid for 25 days from the date of this letter<br><br>
   Disbursement shall be made upon completion of the required documents for the loan  and of the signing of the loan agreement.<br>
   <br>
   Regards,<br><br>

   [Your Name and Signature]<br>
   Loan Administrator<br>
   Name of Lending Company<br>
   <br></p>
 </div>


<!-- <div>
 <table mat-table [dataSource]="employees" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <div *ngIf="column!='Edit' && column!='Delete'">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </div>

      <div *ngIf="column=='Edit'">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"><mat-icon (click)="editData(element)">edit</mat-icon></td>
      </div>

      <div *ngIf="column=='Delete'">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"><mat-icon href="/appLetter" (click)="deleteData(element.approvalLetterId)">delete</mat-icon></td>
      </div>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
</div> -->




 <!-- <div>
   <table class="table table-striped">
    <tbody >
      <tr>
        <th scope="col">ApprovalLetter_Id</th>
        <th scope="col">Customer_Id</th>
        <th scope="col">Product_Id</th>
        <th scope="col">Loan_Amount</th>
        <th scope="col">Rate_Of_Intrest</th>
      </tr>
   
      <tr *ngFor='let a of apll'>
          <td>{{a.approvalLetterId}}</td>
          <td>{{a.customerId}}</td>
          <td> {{a.productId}} </td>
          <td>{{a.loanAmount}}</td>
          <td>{{a.rateOfIntrest}}</td>
          <td><a class="btn">
            <i class="fa fa-edit" (click)="editdata(a)"></i> </a> </td>
          <td><a class="btn">
            <i class="fa fa-trash" (click)="deletedata(a)"></i> </a> </td>
       </tr>
    </tbody> 
   </table>
  </div>-->
</div> 



